button {
    border-radius: 10px;
    background-color: gainsboro;
    width: 200px;
    margin: 5px;
}

.tabella table td,
.tabella table th {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    text-align: center;
}

.tabella table {
    margin: auto;
}

.battleship-tile:hover {
    cursor: crosshair;
}

.hit {
    background-color: red !important;
}

.miss {
    background-color: aqua !important;
}

.posizionamento {
    text-align: center;
    margin-bottom: 20px;
}