<div style="text-align:center">
    <h1>Benvenuti nel fantastico mondo delle Battaglie Navali!!!!</h1>
</div>

<div style="text-align:center">
    <button *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</button>
    <button *ngIf="!_authService.loggedIn()" routerLink="/signup" routerLinkActive="active">Registrati</button>
    <button *ngIf="_authService.loggedIn()" routerLink="/game" routerLinkActive="active">Gioca al Gioco</button>
    <button *ngIf="_authService.loggedIn()" routerLink="/leaderboard" routerLinkActive="active">Classifica</button>
    <button *ngIf="_authService.loggedIn()" routerLink="/message" routerLinkActive="active">Messaggi</button>
    <button *ngIf="_authService.loggedIn() && _authService.isAdmin()" routerLink="/delete" routerLinkActive="active">Gestisci Profili</button>
    <button *ngIf="_authService.loggedIn()" routerLink="/" routerLinkActive="active" (click)="_authService.logoutUser()">Logout</button>
</div>

<hr>

<router-outlet></router-outlet>