label {
    display: inline-block;
    width: 100px !important;
    text-align: left;
}

input {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

button {
    width: 100px;
    border-radius: 10px;
    background-color: gainsboro;
    margin-left: 15px;
}

#login {
    text-align: center;
}

#fail {
    color: red;
}