<div class="container">

    <!-- Se c'è un solo giocatore nella room -->
    <div style="text-align:center" *ngIf="players == false">
        <h2>Lobby creata, attendi un avversario...</h2>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- 1 Fase del gioco: Posizionamento navi -->
    <div class="posizionamento" *ngIf="!gameOver && players && !gamedata.sent">
        <h2>Fase di Posiziamento - Posiziona le tue barche</h2>

        <p *ngIf="ship_array.length > 0">Stai posizionando la nave lunga <strong>{{ship_array[0]}}</strong></p>
        <p *ngIf="ship_array.length == 0">Hai terminato le tue barche da posizionare, <strong>completa la fase di posizionamento</strong> per proseguire</p>

        <button *ngIf="players != false && !gamedata.sent" id="cambio" (click)="verPos($event)">Stai posizionando in: Orizzontale</button>
        <button *ngIf="ship_array.length < 9" (click)="deleteShips()">Rimuovi barche</button>
        <button *ngIf="ship_array.length == 0" (click)="submitBoard()">Completa la fase di posizionamento</button>
    </div>

    <!-- Operazioni sulle barche -->
    <div class="posizionamento">
        <h2 *ngIf="gamedata.sent && !gamedata.received">Il tuo campo è stato inviato correttamente all'avversario! <br> Il gioco partirà non appena il tuo avversario finirà di posizionare le sue barche.</h2>

        <div *ngIf="gamedata.sent && !gamedata.received" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div *ngIf="!gameOver" class="tabella">

        <!-- Turni -->
        <div class="posizionamento" *ngIf="gamedata.received && gamedata.sent">
            <h3 *ngIf="gamedata.turno == gamedata.numeroGiocatore"> E' il tuo turno! Fai la tua mossa</h3>
            <h3 *ngIf="gamedata.turno != gamedata.numeroGiocatore"> E' il turno dell'avversario</h3>
        </div>

        <!-- Campo Giocatore -->
        <div *ngFor="let board of boards | slice:0:1; let i = index">
            <table>
                <tr *ngFor="let row of board.tiles; let j = index">
                    <td *ngFor="let col of row; let k = index" (click)="shipPositioning($event)" [style.background-color]="col.value == 1 ? 'green' : 'transparent'" [class.miss]="col.status == 'miss'" [class.hit]="col.status =='hit'" class="battleship-tile" id="t{{i}}{{j}}{{k}}">
                        {{ col.value == "1" ? (col.status == "hit" ? "💀" : "🚢") : (col.status == "miss" ? "⛶" : (col.status == "hit" ? "💀" : "🌊")) }}
                    </td>
                </tr>
            </table>
        </div>

        <hr>

        <!-- Campo Avversario -->
        <div *ngIf="gamedata.received && gamedata.sent">
            <div *ngFor="let board of boards | slice:1:2; let i = index">
                <table>
                    <tr *ngFor="let row of board.tiles; let j = index">
                        <td *ngFor="let col of row; let k = index" (click)="onPlayerClick($event)" [style.background-color]="col.used ? '' : 'transparent'" class="battleship-tile" id="t{{i}}{{j}}{{k}}">
                            {{ col.value == "1" ? (col.status == "hit" ? "💀" : " ") : (col.status == "miss" ? "⛶" : (col.status == "hit" ? "💀" : " ")) }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Vittoria/Sconfitta -->
    <div class="end-game">
        <h1 *ngIf="gameOver && score == 27 ">Hai Vinto! Complimenti! <br> Per concludere la partita lascia questa pagina, grazie.</h1>
        <h1 *ngIf="gameOver && score < 27">Mi spiace, hai perso! <br> Per concludere la partita lascia questa pagina, grazie.</h1>
        <h1 *ngIf="gameOver && score == 1000 ">Hai Vinto! Il tuo Avverario si è ritirato! <br> Per concludere la partita lascia questa pagina, grazie.</h1>
    </div>

</div>