<div>
    <div id="form">
        <form>
            <label>Destinatario: </label>
            <br>
            <input value='' [value]="inputVar" type="text" placeholder="Inserisci Destinatario" [(ngModel)]="messageData.recipient" name="recipient" required>
            <br><br>
            <label>Messaggio:</label>
            <br>
            <textarea type="text" rows="5" cols="80" placeholder="Inserisci il testo del messaggio" [(ngModel)]="messageData.content" name="content" required></textarea>
            <br>
            <input type="submit" (click)="postMessage()">

            <h2 id="error" style="color:red"></h2>
        </form>
    </div>
</div>
<hr>
<h2>Ecco i tuoi Messaggi:</h2>
<hr>

<!-- <div *ngFor="let message of messages">
    <button (click)="showMessage()">{{message.author}}</button>


</div> -->

<!--1 MOSTRARE TUTTI GLI AUTORI SOLO DIVERSI
    2 MOSTRARE I MESSAGI DEL BOTTONE PREMUTO
    3 SPOSTARE I MESSAGGI A DESTRA DEI BOTTONI
  -->



<!-- <div *ngFor="let message of messages">
    <div *ngIf="message.author == 'eyeleren'">
        <h3>Da: {{message.author}}</h3>
        <p>{{message.date}}</p>
        <p style="text-indent:20px"> <strong>Messaggio:</strong> {{message.content}}</p>
        <button (click)='delete(message._id)'>Elimina</button>
    </div>
    <hr>
</div> -->

<hr>
<hr>
<hr>
<hr>
<hr>
<hr>

<div>
    <form>
        <h2>stai creando una chat</h2>
        <label>Utente con cui crei chat</label>
        <input type="text" [(ngModel)]="conversation.receiver" name="receiver">
        <input type="submit" click="createConversation()">
    </form>
</div>