/* Form */

input[type=submit] {
    border-radius: 38px;
    background-color: gainsboro;
    min-width: 200px;
    padding: 10px;
    border: 1px solid #bbb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

#form {
    background-color: #f3f3f3;
    padding: 50px;
}

#form .flex {
    margin-bottom: 20px;
}

#form label {
    min-width: 150px;
}

.searched {
    display: block;
    padding: 10px;
    /* border-radius: 100px; */
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: none;
}

.flex {
    display: flex;
}

#fail {
    color: red;
}

.statistiche {
    display: inline-block;
    text-align: center;
    min-width: 25%
}