<div>
    <div id="form">
        <form>
            <div class="flex">
                <label class="lbl-searched">Utente da cercare</label>
                <input type="text" class="searched" [(ngModel)]="searched" name="searched" required>
            </div>

            <div class="flex">
                <label> </label>
                <input type="submit" (click)="userStatistics(searched)">
            </div>

            <h2 id="fail"></h2>
        </form>
    </div>
</div>

<div class="info" *ngIf="statistics">
    <hr>

    <div class="statistiche">
        <h3>Username</h3>
    </div>
    <div class="statistiche">
        <h3>Vittorie</h3>
    </div>
    <div class="statistiche">
        <h3>Sconfitte</h3>
    </div>
    <div class="statistiche">
        <h3>Giocate</h3>
    </div>

    <hr>

    <div class="statistiche">
        <p id="username"><strong>{{statistics.username}}</strong></p>
    </div>
    <div class="statistiche">
        <p>{{statistics.victories}} </p>
    </div>
    <div class="statistiche">
        <p>{{statistics.defeats}} </p>
    </div>
    <div class="statistiche">
        <p>{{statistics.victories+statistics.defeats}} </p>
    </div>
</div>